<div class="p-3 mb-2">
    <div class="container">
        <div class="row">
            <div class="justify-content-lg-center">
                <div class="d-flex align-items-center flex-column bd-highlight mb-3 fs-1">Welcome to FullStack Workouts
                </div>
                <div class="d-flex align-items-center flex-column bd-highlight mb-3 fs-2">The workout planner/tracker
                    app</div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="clearfix">
                <img src="stylesheets/pushup copy.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 " alt="lady doing pushups"
                    id="pushUpPic">

            </div>
        </div>
        <div class="col-sm-6">
            <div class="clearfix">
                <img src="stylesheets/1036780592-1280x720.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..."
                    id="runningPic">
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <p>Our purpose is to provide a simple and easier way for registered users to plan and keep track of their
                Workouts
                throughout the month. If you want to get started
            <p>
                To get started, users can use our calendar to select a date they would like to work out.
                Once a date is selected, users can select from our list of workouts that inclued: pullups, pushups, and
                running
                users will be able to choose how much of the selected workout they want to do.
            </p>

            <p>
                As the month goes on and workouts are being completed, signed in users can then keep track
                of their progress through our tracker app. The tracker app will graph your progression throughout
                the month and serve as a mental motivator to our clients once they see their progress improves.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <a href="/signup" class="d-flex justify-content-center"> <button type="button"
                class="btn btn-lg btn-primary">Sign Up Now!</button> </a>

    </div>
</div>