


    <form class="signup-form" id="login-form">
         <div class="d-flex justify-content-center">
            <label for="email-signup"><b>Email</b></label>
            <input type="text" id="email-signup"/>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <label for="password-signup"><b>Password</b></label>
            <input type="password" id="password-signup"/>
        </div>
  <br>
        <div class="d-flex justify-content-center">
            <button type="submit">Log in</button>
        </div>
    </form>

    <script src="/javascript/signup.js"></script>