

<div class="signup">
    <div class="signupCon">
        <div class="header">
         
            <h2><i class='bx bxs-user-pin'></i> Log in</i></h2>
        </div>
        <form class="signup-form form" id="login-form">
            <div class="form-control">
                <label for="email-signup">Email</label>
                <input type="text" placeholder="email" id="email-signup">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="password-signup">Password</label>
                <input type="password" placeholder="username" id="password-signup">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <button class="submit" id="login-form" type="submit"><i class='bx bx-log-in'></i>LogIn</button>
        </form>

    </div>
</div>

    <script src="/javascript/signin.js"></script>