

<div class="signup">
    <div class="signupCon">
        <div class="header">
            <h2><i class='bx bxs-user-account'></i>Create an Account</h2>
        </div>
        <form class="signup-form form" id="signup-form">
            {{!-- <div class="form-control">
                <label>Username</label>
                <input type="text" placeholder="username" id="username">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div> --}}
            <div class="form-control">
                <label for="email-signup">Email</label>
                <input type="text" placeholder="email" id="email-signup">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="password-signup">Password</label>
                <input type="password" placeholder="password" id="password-signup">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            {{!-- <div class="form-control">
                <label>Re-enter Paswword</label>
                <input type="text" placeholder="username" id="username">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div> --}}
            <button class="signUpBtn" id="signUpBtn" type="submit"><i class='bx bxs-lock'></i>Create Account</button>
        </form>
    
    </div>
</div>

    <script src="/javascript/signup.js"></script> 