<div class="container chart">

    <div class="rows" id="newChart">
    
    </div>

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Workout Tracker</h5>
                    <p class="card-text">Choose one of the following workouts:</p>
                        <form>
                        <select name="workouts" id="workouts">
                            <option value="" >Choose one</option>
                            <option value="pullup" id="pullup">PullUps</option>
                            <option value="pushup" id="pushup">PushUps</option>
                            <option value="running" id="running">Running</option>
                        </select>
                        <button class="submit" type="button" id="trackBtn" onclick="GetSelectedText()"><i class='bx bx-trending-up'></i>Track Progress!</button>
                        </form>
                </div>
            </div>
    </div>

    </div>
    <script src="/javascript/mainhtml.js"></script>
